<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="password-recover"></ion-back-button>
    </ion-buttons>
    <ion-title>password-recover</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2>Password Recover</h2>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" #email required></ion-input>
    </ion-item>
    <ion-button type="submit" (click)="passwordRecover(email)" expand="block"
      >Recover Password</ion-button
    >
  </form>
</ion-content>
